#cart-button{
    border: 2px solid rgb(253, 247, 247);
    padding: 12px;
    border-radius: 18.2px;
    font-size: 13px;
    margin-left: 63px;
    margin-top: 23px;
    background: #5CA9FB;
    color: white;
    font-weight: bold;
}

.cart-header{
    text-align: center;
}
