#cars {

    border-radius: 18.2px;
    font-size: 13px;
    margin-right: 19px;
    color: #fff;
    background-color: #5ca9fb;
    padding: 9px 5px;
    margin-left: 2px;
    border:none;
}
@media only screen and (max-width: 900px) {
	
	#cars {
		border-radius: 18.2px;
font-size: 7px;
margin-right: 19px;
color: #fff;
background-color: #5ca9fb;
padding: 8px 0px;
margin-left: 2px;
	}
} 