.book-info{
    margin: 80px 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    
     
    }
#edit-button{

        border: 2px solid grey;
        padding: 5px;
         margin-left: 30px;
        font-size: 13px;
        background: white;
        color: blue;
        margin-right: 13px;
}    